<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://v6.dooring.cn/beta/static/logo.9ee81073.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
    <title>v6.dooring可视化大屏搭建平台</title>
    <meta name="description" content="v6.dooring是一款功能强大，专业可靠的大屏可视化解决方案，致力于提供一套简单方便、专业可靠、无限可能的大屏可视化方案， 后台采用nodejs开发。">
    <meta name="keywords" content="javascript,react,nodejs,前端开发,github">
    <meta name="author" content="徐小夕, the way">
    <!-- <meta name="robots" content="noindex, nofollow"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?5565298c5fc39ea9a725ad4a88dbf885";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>     
</head>
<body>
    <div id="root"></div>
</body>
</html>